In [2]:
import numpy as np
import pandas as pd
import os

In [2]:
os.chdir('D:\Columbia\Bayesian\project')

In [3]:
business  = pd.read_csv('yelp_business.csv')

In [4]:
review  = pd.read_csv('yelp_review.csv')

In [5]:
data = business[(business['city']=='Las Vegas')|(business['city']=='Phoenix')|(business['city']=='Toronto')]

In [6]:
combine = pd.merge(data, review, on = "business_id")

In [7]:
combine_copy = combine

In [8]:
combine.shape

(2611912, 21)

In [9]:
type(combine['categories'])

pandas.core.series.Series

In [10]:
cat = np.array(combine.categories,dtype=np.str)
food = np.empty(len(cat))
foodDescription = set(['Restaurants','restaurants'])
for i in range(len(cat)):
    thisSet = set(cat[i].split(';'))
    union = len(thisSet.intersection(foodDescription))
    food[i] = union >=1
foodIndex = np.array(food,dtype=np.bool)
combine = combine[foodIndex]

In [11]:
combine.categories.unique()

array(['Italian;French;Restaurants',
       'Tiki Bars;Nightlife;Mexican;Restaurants;Bars',
       'Restaurants;Breakfast & Brunch', ...,
       'Food;Restaurants;International Grocery;Ethnic Grocery;Persian/Iranian',
       'Food;Grocery;Restaurants;Coffee & Tea;Indian',
       'Nightlife;Restaurants;Sandwiches;Bars;Canadian (New);Asian Fusion;Pubs'], dtype=object)

In [12]:
combine.shape

(1450325, 21)

In [13]:
combine.to_csv("review.csv")

In [14]:
combine.head(5)

,business_id,name,neighborhood,address,city,state,postal_code,latitude,longitude,stars_x,...,is_open,categories,review_id,user_id,stars_y,date,text,useful,funny,cool
32,l09JfMeQ6ynYs5MCJtrcmQ,"""Alize Catering""",Yonge and Eglinton,"""2459 Yonge St""",Toronto,ON,M4P 2H6,43.711399,-79.399339,3.0,...,0,Italian;French;Restaurants,hxScRYhJjvlCbU_SRZIttg,JBFxD8XxPwkfLsKWgkKNOg,4,2009-11-09,"Wow, this has to be the cutest restaurant in T...",5,2,5
33,l09JfMeQ6ynYs5MCJtrcmQ,"""Alize Catering""",Yonge and Eglinton,"""2459 Yonge St""",Toronto,ON,M4P 2H6,43.711399,-79.399339,3.0,...,0,Italian;French;Restaurants,JwuliBkc0CZdMdGPc_jsWQ,bUpxtyX3huMoWfcMCZksig,1,2011-06-07,Failure to communicate is an understatement. ...,1,0,0
34,l09JfMeQ6ynYs5MCJtrcmQ,"""Alize Catering""",Yonge and Eglinton,"""2459 Yonge St""",Toronto,ON,M4P 2H6,43.711399,-79.399339,3.0,...,0,Italian;French;Restaurants,VLLXGqqF0TqKFzzQ5n9nSQ,Po6gGHh9OQVsdgBVPxTnzg,5,2008-09-10,Hoorah! Yelp Review #100!! And I crossed a boa...,1,0,0
35,l09JfMeQ6ynYs5MCJtrcmQ,"""Alize Catering""",Yonge and Eglinton,"""2459 Yonge St""",Toronto,ON,M4P 2H6,43.711399,-79.399339,3.0,...,0,Italian;French;Restaurants,SehQINlRNedBz7WR6pE66Q,BD43U0mfg5YcinywSZIQsQ,3,2012-04-15,Been here a few times and polite staff\nWith ...,0,0,0
36,l09JfMeQ6ynYs5MCJtrcmQ,"""Alize Catering""",Yonge and Eglinton,"""2459 Yonge St""",Toronto,ON,M4P 2H6,43.711399,-79.399339,3.0,...,0,Italian;French;Restaurants,d_XvHHzNJ_YDWYKBkcZJew,7hAhYoMPjHnxKCz6MQ95Bg,2,2011-03-27,So we had a deal find coupon for this restaura...,1,1,2

In [15]:
combine.columns

Index(['business_id', 'name', 'neighborhood', 'address', 'city', 'state',
       'postal_code', 'latitude', 'longitude', 'stars_x', 'review_count',
       'is_open', 'categories', 'review_id', 'user_id', 'stars_y', 'date',
       'text', 'useful', 'funny', 'cool'],
      dtype='object')

In [16]:
combine_sub = combine[["stars_y", "text", "useful", "funny", "cool"]]

In [18]:
combine_sub.to_csv("text.csv")